.container-fluid{
background-color: black;
height: 100px;
}

 
.cart-heading{
    margin: 0 150px;
    color: white;
    line-height: 100px;
}

.card-cart{
        margin: 0 35px;
}

img{
    width: 77px;
    padding: 5px;
}